---
name: Test reports
---

# Test reports

The test framework generates reports automatically.

## Basic reports

    ![](/docs/images/basic_report.png)
    
## Advanced reports

    ![](/docs/images/advanced_report.png)