include src/ea/VERSION
include src/ea/releasenotes.txt
include src/ea/settings.ini
include src/ea/test.ini
include src/ea/var/data.db 
include src/ea/var/documentations.dat
recursive-include src/ea/var/tests/1/Snippets/ *
recursive-include src/ea/var/tests/1/Samples/ *
recursive-include src/ea/var/templates/ *
recursive-include src/ea/scripts/ *